header{
    display: flex;
    background-color: rgb(0, 89, 255);
    padding: 20px 60px;
    justify-content: space-between;
    align-items: center;
    color: white;

    a{
        color: white;
        text-decoration: none;
        &:hover{
            color: rgb(209, 209, 209);
        }
    }
    
    h2{
        margin: 0;
    }

    ul{
        margin: 0;
        display: flex;
        list-style: none;
    }
    
    li{
        margin-left: 20px;
    }
}