#feed-posts > {
    ul{
        padding: 0;
        list-style: none;
    }
}

.posts-container{
    background-color: white;
    padding: 20px 40px;
    margin-bottom: 30px;
    border-radius: 10px;

    .post-user-name{
        font-weight: bold;
    }

    .post-content{
        margin-bottom: 70px;
    }

    hr{
        opacity: 0.2;
        margin-bottom: 30px;
    }

    .post-comments{

        font-size: 14px;

        ul{
            padding: 0;
            list-style: none;
        }

        .comment-user-name{
            font-weight: bold;
        }
        
        .comment-content{
            margin-top: -5px;
            margin-bottom: 30px;
        }
    }

}