header {
  display: flex;
  background-color: #0059ff;
  padding: 20px 60px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: #d1d1d1;
}

header h2 {
  margin: 0;
}

header ul {
  margin: 0;
  display: flex;
  list-style: none;
}

header li {
  margin-left: 20px;
}
