#home-container {
  display: flex;
  justify-content: center;
  padding: 40px 50px;
}

#home-container #feed-posts {
  width: 60%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#home-container #user-profiles {
  box-sizing: border-box;
  width: 20%;
  padding: 20px 60px;
  background-color: white;
  margin-left: 30px;
  height: 100%;
  border-radius: 10px;
}

#home-container #user-profiles h3 {
  margin-bottom: 50px;
}

#home-container #user-profiles ul {
  padding: 0;
  list-style: none;
  font-size: 16px;
}

#home-container #user-profiles ul li {
  margin-bottom: 15px;
}

#home-container #user-profiles ul a {
  color: black;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

#home-container #user-profiles ul a:hover {
  color: #004cff;
}

#feed-posts > ul {
  padding: 0;
  list-style: none;
}

.posts-container {
  background-color: white;
  padding: 20px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.posts-container .post-user-name {
  font-weight: bold;
}

.posts-container .post-content {
  margin-bottom: 70px;
}

.posts-container hr {
  opacity: 0.2;
  margin-bottom: 30px;
}

.posts-container .post-comments {
  font-size: 14px;
}

.posts-container .post-comments ul {
  padding: 0;
  list-style: none;
}

.posts-container .post-comments .comment-user-name {
  font-weight: bold;
}

.posts-container .post-comments .comment-content {
  margin-top: -5px;
  margin-bottom: 30px;
}

#new-posts-form textarea {
  border: none;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  font-family: sans-serif;
  padding: 30px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#new-posts-form button {
  padding: 15px 50px;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #004cff;
  color: white;
  border: none;
  border-radius: 30px;
  margin-bottom: 50px;
  transition: 0.3s ease-in-out;
}

#new-posts-form button:hover {
  background-color: #1100ff;
  cursor: pointer;
}

#create-comment-form input {
  background-color: #f0f0f0;
  padding: 15px 20px;
  margin-top: 10px;
  width: 90%;
  border: none;
  border-radius: 30px;
  font-size: 15px;
  font-family: sans-serif;
  transition: 0.3s ease-in-out;
}

#create-comment-form input:focus {
  background-color: white;
}

#create-comment-form button {
  padding: 13px 17px;
  margin-left: 10px;
  border: none;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 50%;
  background-color: #004cff;
  color: white;
  transition: 0.3s ease-in-out;
}

#create-comment-form button:hover {
  background-color: #1100ff;
  cursor: pointer;
}

.delete-content {
  background-color: #ffd5d5;
  display: inline-block;
  padding: 10px 30px;
  font-size: 15px;
  border-radius: 30px;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}

.delete-content:hover {
  background-color: #ff2247;
}

.delete-content:hover a {
  color: white !important;
}

.delete-content a {
  text-decoration: none;
  color: #ff2247;
}
