#feed-posts > ul {
  padding: 0;
  list-style: none;
}

.posts-container {
  background-color: white;
  padding: 20px 40px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.posts-container .post-user-name {
  font-weight: bold;
}

.posts-container .post-content {
  margin-bottom: 70px;
}

.posts-container hr {
  opacity: 0.2;
  margin-bottom: 30px;
}

.posts-container .post-comments {
  font-size: 14px;
}

.posts-container .post-comments ul {
  padding: 0;
  list-style: none;
}

.posts-container .post-comments .comment-user-name {
  font-weight: bold;
}

.posts-container .post-comments .comment-content {
  margin-top: -5px;
  margin-bottom: 30px;
}
